<% provide(:title, 'ログイン') %>
<h1>ログイン</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      <br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>ログイン状態を保持</span>
      <% end %>
      <br>
      <%= f.submit 'ログイン', class: 'btn btn-primary' %>
    <% end %>
    <br>
    <p>新規ユーザー登録は<%= link_to 'こちら', sign_up_path %></p>
  </div>
</div>