<%= render 'shared/error_messages', object: f.object %>
<div class="basic-property">
  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: 'form-control' %>
    ニックネームを空欄で登録した場合はデフォルトの種族名が入ります
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(get_enum_array(:gender), get_enum_value_by_number(:gender, @untrained_monster.gender)), {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level, class: 'form-control' %>
  </div>
  <% if @species.is_mega_evolution %>
    <% # TODO: メガストーン必須なので持ち物フォームと連動してチェックする %>
    <div class="form-group">
      <%= f.label :base_status_id %>
      <%= f.collection_select :base_status_id, BaseStatus.where(species_id: @species.id), :id, :form_name %>
    </div>
  <% end %>
  <% if @species.is_form_change %>
    <div class="form-group">
      <%= f.label :base_status_id %>
      <%= f.collection_select :base_status_id, BaseStatus.where(species_id: @species.id), :id, :form_name %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :ability_id %>
    <%= f.collection_select :ability_id, @abilities, :id, :ability_name %>
  </div>
  <div class="form-group">
    <%= f.label :nature %>
    <%= f.text_field :nature, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :characteristic %>
    <%= f.text_field :characteristic, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :held_item %>
    <%= f.text_field :held_item, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :combat_rule %>
    <%= f.select :combat_rule, options_for_select(get_enum_array(:combat_rule), get_enum_value_by_number(:combat_rule, @untrained_monster.combat_rule)), {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :is_colored %>
    <%= f.check_box :is_colored, {}, true, false %>
  </div>
</div>

<div>
  技
  <div class="form-group">
    <%= f.label :move1 %>
    <%= f.text_field :move1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move2 %>
    <%= f.text_field :move2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move3 %>
    <%= f.text_field :move3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move4 %>
    <%= f.text_field :move4, class: 'form-control' %>
  </div>
</div>

<div class="value-property">
  ステータス
  <div class="form-group">
    <%= check_box_tag :is_caliculate %>入力した個体値と努力値からステータスを自動計算する<br>
  </div>
  個体値
  <div class="form-group">
    <%= f.label :hp_individual %>
    <%= f.text_field :hp_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_individual %>
    <%= f.text_field :attack_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_individual %>
    <%= f.text_field :defense_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_individual %>
    <%= f.text_field :sp_attack_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_individual %>
    <%= f.text_field :sp_defense_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_individual %>
    <%= f.text_field :speed_individual, class: 'form-control' %>
  </div>
</div>
<div>
  努力値
  <div class="form-group">
    <%= f.label :hp_effort %>
    <%= f.text_field :hp_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_effort %>
    <%= f.text_field :attack_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_effort %>
    <%= f.text_field :defense_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_effort %>
    <%= f.text_field :sp_attack_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_effort %>
    <%= f.text_field :sp_defense_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_effort %>
    <%= f.text_field :speed_effort, class: 'form-control' %>
  </div>
</div>
<div>
  ステータス
  <div class="form-group">
    <%= f.label :hp_statistics %>
    <%= f.text_field :hp_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_statistics %>
    <%= f.text_field :attack_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_statistics %>
    <%= f.text_field :defense_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_statistics %>
    <%= f.text_field :sp_attack_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_statistics %>
    <%= f.text_field :sp_defense_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_statistics %>
    <%= f.text_field :speed_statistics, class: 'form-control' %>
  </div>
</div>

<div>
  育成メモ
  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div>
</div>

<script>
    $(function () {
        $('#untrained_monster_base_status_id').change(function () {
            $.get({
                url: '/change_abilities_select_untrained',
                data: {base_status_id: $('#untrained_monster_base_status_id').has('option:selected').val()}
            });
        });
    });
</script>
