<div>
  <p><%= @untrained_monster.nickname %></p><%= p '★' if @untrained_monster.is_colored %>
  <div class="species-info">
    <p class="species-name"><%= @base_status.form_name || @untrained_monster.species.name %></p>
    <% @types.each do |type| %>
      <p class="type-area-<%= type.id %>"><%= type.type_name %></p>
    <% end %>
  </div>
  <% if @untrained_monster.species.is_mega_evolution %>
    <!--    # TODO: 登録時に持ち物をメガストーンにした場合のみ追加でタイプを表示する-->
    <% @base_status_mega.each do |base_status_mega| %>
      <div class="species-info">
        <p class="species-name"><%= base_status_mega.form_name %></p>
        <!--        # TODO: n+1問題が発生-->
        <% base_status_mega.types.each do |type| %>
          <p class="type-area-<%= type.id %>"><%= type.type_name %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="basic-info">
  <table border="2">
    <tr>
      <th>レベル</th>
      <th>性別</th>
      <th>性格</th>
      <th>個性</th>
      <th>特性</th>
      <th>基本的な持ち物</th>
      <th>想定ルール</th>
    </tr>
    <tr>
      <td><%= @untrained_monster.level %></td>
      <td><%= get_enum_key_by_number(:gender, @untrained_monster.gender) %></td>
      <td><%= Nature.find(@untrained_monster.nature_id).name %></td>
      <td><%= Characteristic.find_by(id: @untrained_monster.characteristic_id).try(:name) %></td>
      <td><%= Ability.find(@untrained_monster.ability_id).ability_name %></td>
      <td><%= Item.find_by(id: @untrained_monster.held_item_id).try(:name) %></td>
      <td><%= get_enum_key_by_number(:combat_rule, @untrained_monster.combat_rule) %></td>
    </tr>
  </table>
</div>
<br>
<div class="move-info">
  覚えている技
  <table border="2">
    <tr>
      <th>技名</th>
      <th>タイプ</th>
      <th>威力</th>
      <th>PP</th>
    </tr>
    <tr>
      <td><%= @untrained_monster.move1 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @untrained_monster.move2 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @untrained_monster.move3 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @untrained_monster.move4 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </table>
</div>
<br>
<div class="status-info">
  ステータス
  <table border="2">
    <tr>
      <th></th>
      <th>HP</th>
      <th>こうげき</th>
      <th>ぼうぎょ</th>
      <th>とくこう</th>
      <th>とくぼう</th>
      <th>すばやさ</th>
    </tr>
    <tr>
      <td>個体値</td>
      <td><%= @untrained_monster.hp_individual %></td>
      <td><%= @untrained_monster.attack_individual %></td>
      <td><%= @untrained_monster.defense_individual %></td>
      <td><%= @untrained_monster.sp_attack_individual %></td>
      <td><%= @untrained_monster.sp_defense_individual %></td>
      <td><%= @untrained_monster.speed_individual %></td>
    </tr>
    <tr>
      <td>努力値</td>
      <td><%= @untrained_monster.hp_effort %></td>
      <td><%= @untrained_monster.attack_effort %></td>
      <td><%= @untrained_monster.defense_effort %></td>
      <td><%= @untrained_monster.sp_attack_effort %></td>
      <td><%= @untrained_monster.sp_defense_effort %></td>
      <td><%= @untrained_monster.speed_effort %></td>
    </tr>
    <tr>
      <td>ステータス実数値</td>
      <td><%= @untrained_monster.hp_statistics %></td>
      <td><%= @untrained_monster.attack_statistics %></td>
      <td><%= @untrained_monster.defense_statistics %></td>
      <td><%= @untrained_monster.sp_attack_statistics %></td>
      <td><%= @untrained_monster.sp_defense_statistics %></td>
      <td><%= @untrained_monster.speed_statistics %></td>
    </tr>
    <% if @untrained_monster.species.is_mega_evolution %>
      <% @base_status_mega.each do |base_status_mega| %>
        <!--        # TODO: 登録時に持ち物をメガストーンにした場合のみ追加でステータスを表示する-->
        <tr>
          <td>ステータス実数値（メガシンカ）</td>
          <td><%= @untrained_monster.hp_statistics %></td>
          <td><%= @untrained_monster.attack_statistics %></td>
          <td><%= @untrained_monster.defense_statistics %></td>
          <td><%= @untrained_monster.sp_attack_statistics %></td>
          <td><%= @untrained_monster.sp_defense_statistics %></td>
          <td><%= @untrained_monster.speed_statistics %></td>
        </tr>
      <% end %>
    <% end %>
    <% if @untrained_monster.species.is_form_change %>
      <tr>
        <!--        # TODO: 戦闘中にフォルムが変化する種族のみ追加でステータスを表示する（戦闘前からフォルムチェンジしている場合を除く）-->
        <td>ステータス実数値（戦闘中フォルムチェンジ）</td>
        <td><%= @untrained_monster.hp_statistics %></td>
        <td><%= @untrained_monster.attack_statistics %></td>
        <td><%= @untrained_monster.defense_statistics %></td>
        <td><%= @untrained_monster.sp_attack_statistics %></td>
        <td><%= @untrained_monster.sp_defense_statistics %></td>
        <td><%= @untrained_monster.speed_statistics %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<div class="memo-info">
  <table border="2">
    <tr>
      <th>育成メモ</th>
    </tr>
    <tr>
      <td><%= @untrained_monster.memo %></td>
    </tr>
  </table>
</div>



