<%= render 'shared/error_messages', object: f.object %>
<div class="basic-property">
  <div class="form-group">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(get_enum_array(:gender), get_enum_value_by_number(:gender, @monster.gender)), {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :level %>
    <%= f.text_field :level, class: 'form-control' %>
  </div>
  <% if @species.is_form_change %>
    <div class="form-group">
      <%= f.label :base_status_id %>
      <%= f.collection_select :base_status_id, BaseStatus.where(species_id: @species.id), :id, :form_name %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :ability_id %>
    <%= f.collection_select :ability_id, @abilities, :id, :ability_name %>
  </div>
  <div class="form-group">
    <%= f.label :nature_id %>
    <%= f.collection_select :nature_id, Nature.all, :id, :name, {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :characteristic_id %>
    <%= f.collection_select :characteristic_id, Characteristic.all, :id, :name, {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :held_item_id %>
    <%= f.grouped_collection_select :held_item_id, @item_groups, :items, :name, :id, :name, include_blank: '選択してください' %>
  </div>
  <div class="form-group">
    <%= f.label :combat_rule %>
    <%= f.select :combat_rule, options_for_select(get_enum_array(:combat_rule), get_enum_value_by_number(:combat_rule, @monster.combat_rule)), {class: 'form-control', include_blank: '選択してください'} %>
  </div>
  <div class="form-group">
    <%= f.label :is_colored %>
    <%= f.check_box :is_colored, {}, true, false %>
  </div>
</div>

<div>
  技
  <div class="form-group">
    <%= f.label :move1 %>
    <%= f.text_field :move1, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move2 %>
    <%= f.text_field :move2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move3 %>
    <%= f.text_field :move3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :move4 %>
    <%= f.text_field :move4, class: 'form-control' %>
  </div>
</div>

<div class="value-property">
  ステータス
  個体値
  <div class="form-group">
    <%= f.label :hp_individual %>
    <%= f.text_field :hp_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_individual %>
    <%= f.text_field :attack_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_individual %>
    <%= f.text_field :defense_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_individual %>
    <%= f.text_field :sp_attack_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_individual %>
    <%= f.text_field :sp_defense_individual, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_individual %>
    <%= f.text_field :speed_individual, class: 'form-control' %>
  </div>
</div>
<div>
  努力値
  <div class="form-group">
    <%= f.label :hp_effort %>
    <%= f.text_field :hp_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_effort %>
    <%= f.text_field :attack_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_effort %>
    <%= f.text_field :defense_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_effort %>
    <%= f.text_field :sp_attack_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_effort %>
    <%= f.text_field :sp_defense_effort, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_effort %>
    <%= f.text_field :speed_effort, class: 'form-control' %>
  </div>
</div>
<div class="btn cal-btn">
  ステータス自動計算
</div>
<div>
  ステータス
  <div class="form-group">
    <%= f.label :hp_statistics %>
    <%= f.text_field :hp_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :attack_statistics %>
    <%= f.text_field :attack_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :defense_statistics %>
    <%= f.text_field :defense_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_attack_statistics %>
    <%= f.text_field :sp_attack_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sp_defense_statistics %>
    <%= f.text_field :sp_defense_statistics, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speed_statistics %>
    <%= f.text_field :speed_statistics, class: 'form-control' %>
  </div>
</div>

<div>
  育成メモ
  <div class="form-group">
    <%= f.label :memo %>
    <%= f.text_area :memo, class: 'form-control' %>
  </div>
</div>

<!--jQueryに種族値（フォルムチェンジ等でない）を引き渡すための非表示inputエリア-->
<input id="base_status" type="hidden" value="<%= BaseStatus.find_by(species_id: @species.number).id %>">

<script>
    $(function () {
      // フォルムフォーム切り替え時の処理
        $('#monster_base_status_id').change(function () {
            $.get({
                url: '/change_abilities_select',
                data: {base_status_id: $('#monster_base_status_id').has('option:selected').val()}
            });
        });

      // ステータス自動計算用の各値を取得する処理
        $('.cal-btn').click(function () {
            let base_status_id = $('#monster_base_status_id').has('option:selected').val() || $('#base_status').val();

            let individuals = $('input[id$="_individual"]').map(function () {
                return $(this).val();
            }).get();

            let efforts = $('input[id$="_effort"]').map(function () {
                return $(this).val();
            }).get();

            let level = $('input[id="monster_level"]').val();

            let nature_id = $('[name="monster[nature_id]"]').has('option:selected').val();

            $.get({
                url: '/set_calculated_status',
                data: {
                    base_status_id: base_status_id, individuals: individuals, efforts: efforts,
                    level: level, nature_id: nature_id
                }
            });
        });
    });
</script>
