<!--メガ進化する種族の場合は、メガ進化後のステータスも表示されるようにする -->
<div>
  <p><%= @monster.nickname %></p><%= p '★' if @monster.is_colored %>
  <p><%= BaseStatus.find(@monster.base_status_id).form_name || @monster.species_group.species.name %></p>
</div>
<div>
  <table border="1">
    <tr>
      <th>レベル</th>
      <th>性別</th>
      <th>性格</th>
      <th>個性</th>
      <th>特性</th>
      <th>基本的な持ち物</th>
      <th>想定ルール</th>
    </tr>
    <tr>
      <td><%= @monster.level %></td>
      <td><%= get_enum_key_by_number(:gender, @monster.gender) %></td>
      <td><%= Nature.find(@monster.nature_id).name %></td>
      <td><%= Characteristic.find_by(id: @monster.characteristic_id).try(:name) %></td>
      <td><%= Ability.find(@monster.ability_id).ability_name %></td>
      <td><%= @monster.held_item %></td>
      <td><%= get_enum_key_by_number(:combat_rule, @monster.combat_rule) %></td>
    </tr>
  </table>
</div>
<br>
<div>
  覚えている技
  <table border="1">
    <tr>
      <th>技名</th>
      <th>タイプ</th>
      <th>威力</th>
      <th>PP</th>
    </tr>
    <tr>
      <td><%= @monster.move1 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @monster.move2 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @monster.move3 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
    <tr>
      <td><%= @monster.move4 %></td>
      <td>くさ</td>
      <td>100</td>
      <td>10</td>
    </tr>
  </table>
</div>
<br>
<div>
  ステータス
  <table border="1">
    <tr>
      <th></th>
      <th>HP</th>
      <th>こうげき</th>
      <th>ぼうぎょ</th>
      <th>とくこう</th>
      <th>とくぼう</th>
      <th>すばやさ</th>
    </tr>
    <tr>
      <td>個体値</td>
      <td><%= @monster.hp_individual %></td>
      <td><%= @monster.attack_individual %></td>
      <td><%= @monster.defense_individual %></td>
      <td><%= @monster.sp_attack_individual %></td>
      <td><%= @monster.sp_defense_individual %></td>
      <td><%= @monster.speed_individual %></td>
    </tr>
    <tr>
      <td>努力値</td>
      <td><%= @monster.hp_effort %></td>
      <td><%= @monster.attack_effort %></td>
      <td><%= @monster.defense_effort %></td>
      <td><%= @monster.sp_attack_effort %></td>
      <td><%= @monster.sp_defense_effort %></td>
      <td><%= @monster.speed_effort %></td>
    </tr>
    <tr>
      <td>ステータス実数値</td>
      <td><%= @monster.hp_statistics %></td>
      <td><%= @monster.attack_statistics %></td>
      <td><%= @monster.defense_statistics %></td>
      <td><%= @monster.sp_attack_statistics %></td>
      <td><%= @monster.sp_defense_statistics %></td>
      <td><%= @monster.speed_statistics %></td>
    </tr>
    <% if @monster.species_group.species.is_mega_evolution %>
      <tr>
        <td>ステータス実数値（メガシンカ）</td>
        <td><%= @monster.hp_statistics %></td>
        <td><%= @monster.attack_statistics %></td>
        <td><%= @monster.defense_statistics %></td>
        <td><%= @monster.sp_attack_statistics %></td>
        <td><%= @monster.sp_defense_statistics %></td>
        <td><%= @monster.speed_statistics %></td>
      </tr>
    <% end %>
    <% if @monster.species_group.species.is_form_change %>
      <tr>
        戦闘中に
        <td>ステータス実数値（フォルムチェンジ）</td>
        <td><%= @monster.hp_statistics %></td>
        <td><%= @monster.attack_statistics %></td>
        <td><%= @monster.defense_statistics %></td>
        <td><%= @monster.sp_attack_statistics %></td>
        <td><%= @monster.sp_defense_statistics %></td>
        <td><%= @monster.speed_statistics %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<div>
  <table border="1">
    <tr>
      <th>育成メモ</th>
    </tr>
    <tr>
      <td><%= @monster.memo %></td>
    </tr>
  </table>
</div>



