<h1><%= @speices_group.speices_name %>統一</h1>
<div>
  <p>No.<%= @speices_group.speices_number %> - <%= @speices_group.speices_name %></p>
</div>
<div>
  <p>メニュー</p>
  <ul>
    <li>ポケモンの追加</li>
  </ul>
</div>
<div>
  <p>育成済み<%= @speices_group.speices_name %>一覧</p>
  <ul>
    <li><%= @speices_group.speices_name %>1</li>
    <li><%= @speices_group.speices_name %>2</li>
    <li><%= @speices_group.speices_name %>3</li>
    <li><%= @speices_group.speices_name %>4</li>
  </ul>
</div>
