<li id="species_group-<%= species_group.id %>">
  <span class="species_group"><%= species_group.species_name %></span>
  <% if current_user?(species_group.user) %>
    <%= link_to '#', {method: :delete, data: {confirm: '削除して宜しいですか？'}, style: 'width: 5%', class: 'link'} do %>
      <%= fa_icon 'trash', class: 'fa fa-green' %>
    <% end %>
  <% end %>
  <br>
  <span class="number_of_trained"><%= link_to '育成済み', species_group_monster_path(species_group) %>：<%= species_group.monsters.count %></span>
  <br>
  <span class="number_of_untrained"><%= link_to '育成予定', species_group_untrained_monster_path(species_group) %>：<%= species_group.untrained_monsters.count %></span>
</li>
