<h1><%= @species_group.species_name %>統一</h1>
<div>
  <p>No.<%= @species_group.species_number %> - <%= @species_group.species_name %></p>
</div>
<div>
  <p>
    <%= link_to '育成済みポケモンを追加', new_species_group_monster_path(species_group_id: @species_group.id) %>
  </p>
</div>
<div class="col-md-8">
  <p>育成済み<%= @species_group.species_name %>一覧</p>
  <% if @species_group.monsters.any? %>
    <ul class="monsters">
      <%= render @monsters %>
    </ul>
  <% end %>
</div>
