<h1><%= @species_group.species_name %>統一</h1>
<div>
  <p>No.<%= @species_group.species_number %> - <%= @species_group.species_name %></p>
</div>
<div>
  <p>
    <%= link_to '育成済みポケモンを追加', new_species_group_monster_path(species_group_id: @species_group.id), class: 'btn new-monster-btn' %>
  </p>
</div>
<div>
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1">条件で絞り込む</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
          <%= render 'search_form', species: @species_group.species_number %>
        </div>
      </div>
    </div>
  </div>
  <% if @monsters.blank? %>
    <p>該当するポケモンがいません！</p>
  <% else %>
    <table class="col-md-12">
      <caption>育成済み<%= @species_group.species_name %>一覧</caption>
      <colgroup style="width: 10%;"> <!-- ニックネーム -->
      <colgroup style="width: 5%;"> <!-- 性別 -->
      <colgroup style="width: 10%;"> <!-- 特性 -->
      <colgroup style="width: 10%;"> <!-- 性格 -->
      <colgroup style="width: 13%;"> <!-- 技1 -->
      <colgroup style="width: 13%;"> <!-- 技2 -->
      <colgroup style="width: 13%;"> <!-- 技3 -->
      <colgroup style="width: 13%;"> <!-- 技4 -->
      <colgroup style="width: 13%;"> <!-- アイコン -->
      <thead class="monsters-header">
      <tr>
        <th>ニックネーム</th>
        <th>性別</th>
        <th>特性</th>
        <th>性格</th>
        <th>技1</th>
        <th>技2</th>
        <th>技3</th>
        <th>技4</th>
        <th></th>
      </tr>
      </thead>
      <tbody class="monsters">
      <% @monsters.each do |monster| %>
        <tr id="monster-<%= monster.id %>">
          <td><%= link_to monster.nickname, monster_path(monster), {class: 'link'} %></td>
          <td><%= get_enum_key_by_number(:gender, monster.gender) %></td>
          <td><%= Ability.find(monster.ability_id).ability_name %></td>
          <td><%= Nature.find(monster.nature_id).name %></td>
          <td><%= monster.move1 %></td>
          <td><%= monster.move2 %></td>
          <td><%= monster.move3 %></td>
          <td><%= monster.move4 %></td>
          <td>
            <% if current_user?(monster.species_group.user) %>
              <%= link_to edit_monster_path(monster) do %>
                <%= fa_icon 'edit', class: 'fa fa-green' %>
              <% end %>
              <%= link_to monster_path(monster.id), {method: :delete, data: {confirm: '削除して宜しいですか？'}, style: 'width: 5%', class: 'link'} do %>
                <%= fa_icon 'trash', class: 'fa fa-green' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
